<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/imgs/educared-logo.png" class="logo-header-ed" alt="Logo Educared">
    </ion-title>
    <ion-title slot="end">
      <img src="../../assets/imgs/logo-movistar.png" class="" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" no-bounce class="bg-home">




  <div class="container-home">
    <!-- <div class="c-header-scorm">
      <div class="title-flex">
        <h6><span class="state-flex">Estado: <ion-icon name="ellipse" [ngClass]="{
          'green': serviceNetwork.networkStatus,
          'yellow': !serviceNetwork.networkStatus
        }" class="circle-icon"></ion-icon> <b>{{serviceNetwork.networkStatus ? 'Con conexión' : 'Sin conexión'}}</b>
          </span></h6>
      </div>
    </div> -->
    <div class="wrapper-home">
      <div class="banner-home">
        <img src="assets/imgs/banner-home.png" alt="" class="banner-img-home">
      </div>
  
      <a [routerLink]="['/matematica']" class="btn-home-cursos">
        <img src="assets/imgs/btn-matematica.png" alt="">
      </a>
      <a [routerLink]="['/comunicaciones']" class="btn-home-cursos">
        <img src="assets/imgs/btn-comunicacion.png" alt="">
      </a>
      <a [routerLink]="['/personalsocial']" class="btn-home-cursos">
        <img src="assets/imgs/btn-personal.png" alt="">
      </a>
      <a [routerLink]="['/ciencia']" class="btn-home-cursos">
        <img src="assets/imgs/btn-ciencia.png" alt="">
      </a>
    </div>
  
   
  </div>


</ion-content>