<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        <img src="../../assets/imgs/educared-logo.png" class="logo-header-ed" alt="Logo Educared">
    </ion-title>
    <ion-title  slot="end">
        <img src="../../assets/imgs/logo-movistar.png" class="" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="iframe-container">
    <iframe src="http://localhost:8100/assets/scorm/personalsocial/genially.html"  width="100%" height="500" sandbox="allow-scripts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe>
  </div>

 
</ion-content>
